<h2><a {{bind-attr href=model.link}}>{{model.title}}</a></h2>

<h5>Submitted By {{model.username}}</h5>

<p>
  {{model.description}}
</p>

<button {{action "deletePost" model}}>Delete</button>

{{link-to 'Back' 'posts.index'}}

{{link-to 'Edit' 'posts.edit' model}}

<h3>COMMENTS!!!</h3>

{{#each comment in model.comments}}
<li><strong>{{comment.username}}</strong> - {{comment.body}}</li>
{{/each}}
